@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Prompt:wght@200;500&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Prompt', sans-serif;
    background: linear-gradient(90deg, #000835, #3498db);
}

header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header img {
    width: 150px;
}

header .txt h1 {
    font-size: 4vw;
    color: rgb(255, 245, 111);
    text-transform: uppercase;
}

header .txt p {
    font-size: 1.5rem;
    color: aliceblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp{
    display: flex;
    flex-direction: row;
}

.inp-valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    font-size: 1.4rem;
    color: rgb(97, 250, 105);
}

section input{
    width: 250px;
    height: 5vh;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}

section p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    color: aliceblue;
    font-size: 1.8rem;
    background-color: #0000007c;
    border-radius: 10px;
}

section button{
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(253, 250, 92);
    cursor: pointer;
}

button:hover{
    background-color: rgb(1, 250, 76);
}


footer{
    margin-top: 20px;
    background-color: #000835;
    color: aliceblue;
    text-align: center;
    font-size: 1.3rem;
}

@media(max-width:950px) {
   
    section input {
        width: 30vw;
    }
}


@media(max-width:650px) {

    header img{
        width: 40%;
    }
   
    header .txt h1 {
        font-size: 6vw;
    }

    header .txt p{
        font-size: 4vw;
    }


    section input{
        width: 45vw;
    }

    

    footer {
        font-size: 1rem;
    }
    
    .inp {
        flex-direction: column;
    }
}